<div >
    <ul class="list-unstyled">
        <li><button (click)="onButtonClick($event)" name="All" class="btn btn-link">All Products [<span>{{ AllProductCategories}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="electronics" class="btn btn-link">Electronics [<span>{{ElectronicProductCategories}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="jewelery" class="btn btn-link">Jewelery [<span>{{JeweleryProductCategories}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="men's clothing" class="btn btn-link">Men's Clothing [<span>{{MensProductCategories}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="women's clothing" class="btn btn-link">Women's Clothing [<span>{{WomensProductCategories}}</span>]</button></li>
    </ul>
</div>