 <div class="mt-3">
    <ul class="list-unstyled">
        <li><button (click)="onButtonClick($event)" name="all" class="btn btn-link">All [<span>{{this.AllProductCount}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="electronics" class="btn btn-link">Electronic [<span>{{this.ElectronicProductCount}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="jewelery" class="btn btn-link">Jewelery [<span>{{this.JewelaryProductsCount}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="men's clothing" class="btn btn-link">Men's [<span>{{this.MensProductsCount}}</span>]</button></li>
        <li><button (click)="onButtonClick($event)" name="women's clothing" class="btn btn-link">Women's [<span>{{this.WomensProductCount}}</span>]</button></li>
    </ul>
 </div>