<div class="container">
    <h1>Working with Radio Button</h1>
    <form [formGroup]="reactiveForm">
        <div class="form-group row">
            <label class="col-sm-2" for="Salary">Salary</label>
            <input class="col-sm-2" type="number" name="salary" formControlName="salary">

            <span style="color: red" *ngIf="reactiveForm.hasError('required','salary')">Salary is required</span>
            <span style="color: red" *ngIf="reactiveForm.hasError('min','salary')">Salary must be above 1000</span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="tax">Allowance Types</label>
            <div class="btn-group btn-group-toggle" *ngFor="let aType of allowanceTypesObj">
                <input type="radio" name="allowancePercentage" [value]="aType.name + '-' + aType.val" formControlName="allowancePercentage" (change)="calculateAmt()">
                {{ aType.name }}
            </div>                      
            <span style="color: red" *ngIf="reactiveForm.controls['allowancePercentage']
             .errors!['required']">
             Select Allowance Type
            </span>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="allowanceAmt">Allowance Amount</label>
            <input class="col-sm-2" formControlName="allowanceAmt" readonly>
        </div>
        <div class="form-group row">
            <label class="col-sm-2" for="netSal">Net Salary</label>
            <input class="col-sm-2" formControlName="netSale" readonly>
        </div>
    </form>
</div>